:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

.card {
    background-color: var(--white);
    height: 497px;
    width: 320px;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
}
.card-img-container {
    border-radius: 5px;
}
.card-para {
    color: var(--grayish-blue);
}
.container {
  
    background-color: var(--light-gray);
    font-size: 15px;
}